\documentclass[10pt,a4paper,twoside, openany]{book}
\usepackage[inner=3cm,outer=2cm,top=2.5cm,bottom=2.5cm]{geometry}
\usepackage{fontspec}
\usepackage[utf8]{inputenc}
\usepackage{titlesec}
\usepackage[hidelinks]{hyperref}
\usepackage[table]{xcolor}
\input{latex/header.tex}
\begin{document}
\title{University Course Handbook}
\author{Generated System}
\maketitle
[% block content %][% endblock %]
\end{document}