\documentclass[10pt,a5paper,twoside, openany]{book}
\usepackage[
    paperwidth=148mm,
    paperheight=210mm,
    inner=20mm,
    outer=15mm,
    top=10mm,
    headheight=24mm,
    headsep=5mm,
    textheight=159mm,
    footskip=11mm,
    includehead,
    includefoot
]{geometry}
\usepackage{fontspec}
\usepackage{unicode-math}
\usepackage{microtype}
%\setmainfont{XITS}
%\setmathfont{XITS Math}
\setmainfont{Libertinus Serif}
\setmathfont{Libertinus Math}
\allowdisplaybreaks
\usepackage[hidelinks]{hyperref}
\usepackage[table]{xcolor}
\usepackage{ltablex}
\keepXColumns
\usepackage{graphicx}
\usepackage{fancyhdr}
\usepackage{array}
\usepackage{tabularx}
\usepackage{multirow}
\input{latex/macros.tex}
\usepackage{enumitem}
\usepackage{needspace}
\setlength{\parindent}{0pt}
\renewcommand{\headrulewidth}{0pt}
\setlength{\headheight}{24mm}  % safe for A4 & A5
\begin{document}
\title{University Course Handbook}
\author{Generated System}
\maketitle
[% block content %][% endblock %]
\end{document}